<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <include file="$(find carla_ros_bridge)/launch/client_with_radar.launch">
    </include> -->

    <!-- Run ego-vehicle prediction -->
    <include
        file="$(find delta_prediction)/launch/ego_vehicle_prediction.launch">
    </include>

    <!-- Run the object detection node -->
    <include
        file="$(find delta_perception)/launch/object_detection.launch">
    </include>

    <!-- Run the lane detection node -->
    <include
        file="$(find delta_perception)/launch/lane_detection.launch">
    </include>

    <!-- Run semantic segmentation -->
    <!-- <node
        pkg="delta_perception"
        type="segmentation.py"
        name="segmentation"
        output="screen">
    </node> -->

    <node
        type="rviz" name="rviz" pkg="rviz" args="-d $(find delta_perception)/perception.rviz">
    </node>
</launch>
