<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Run the inverse perspective mapping node -->
    <node
        pkg="delta_perception"
        type="ipm_node.py"
        name="ipm_node"
        output="screen">
    </node>

    <!-- Display IPM image -->
    <node
        name="image_view_ipm"
        pkg="image_view"
        type="image_view"
        respawn="false"
        output="screen">
        <remap from="image" to="/delta/perception/ipm/image" />
    </node>
</launch>
