<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Play rosbag record -->
    <include file="$(find delta_perception)/launch/play_rosbag.launch">
        <arg name="filename" value="$(find delta_perception)/bags/Pittsburgh-02.bag" />
        <!-- <arg name="filename" value="$(find delta_perception)/bags/Pittsburgh-02.bag" /> -->
    </include>

    <!-- Run lane detection -->
    <node   
        pkg="delta_perception"
        type="lane_validation.py"
        name="lane_validation"
        output="screen">
    </node>

    <!-- Display output image -->
    <node
        name="image_view_lane_validation"
        pkg="image_view"
        type="image_view"
        respawn="false"
        output="screen">
        <remap from="image" to="/delta/perception/lane_validation" />
    </node>

    <!-- Display output image -->
    <!-- <node
        name="image_view_lane_detection"
        pkg="image_view"
        type="image_view"
        respawn="false"
        output="screen">
        <remap from="image" to="/delta_perception/lane_detection" />
    </node> -->

</launch>
