<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Play rosbag record -->
    <include file="$(find delta_perception)/launch/play_rosbag.launch">
        <arg name="filename" value="/mnt/data/Datasets/Carla/bags/portland-02.bag" />
    </include>

    <!-- Run the perception pipeline -->
    <node   
        pkg="delta_perception"
        type="main.py"
        name="main"
        output="screen">
    </node>

    <!-- Display output image -->
    <node
        name="image_view"
        pkg="image_view"
        type="image_view"
        respawn="false"
        output="screen">

        <!-- Set the output topic -->
        <remap from="image" to="/delta_perception/output_image" />
    </node>

</launch>
