<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="filename" default="$(find delta_perception)/bags/calibration_04.bag" />

    <!-- Play rosbag record -->
    <node 
        pkg="rosbag"
        type="play"
        name="player"
        output="screen"
        args="--clock --quiet --loop --rate=1 $(arg filename)" />

</launch>
