<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="filename" default="$(find delta_perception)/bags/portland-02.bag" />

    <!-- Play rosbag record -->
    <node 
        pkg="rosbag"
        type="play"
        name="player"
        output="screen"
        args="--clock --loop --quiet --rate=2 $(arg filename)" />

</launch>
